body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4e4d6;
}

.h1 {
    color: #333;

}

table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #020202;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #f75c5c;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}

.present {
    color: green;
}

.absent {
    color: red;
}
